# Супербабочка

In [ ]:
import pandas as pd

In [ ]:
# Тестирование собаки
meat_on_table = 0  # мясо на столе
meat_in_cup = 0  # мясо в миске
owner_present = 0  # хозяин на кухне

outc_not_eats = 0  # не ест
outc_eats_from_table = 0  # ест со стола
outc_eats_from_cup = 0 # ест из миски


data = []

# Перебор рецепторов со значениями 0 и 1, запись результатов в data
for table in range(0, 2):
    for cup in range(0, 2):
        for owner in range(0, 2):
            meat_on_table = table
            meat_in_cup = cup
            owner_present = owner

            # Математические модели
            # только когда нет хозяина и мяса в миске
            outc_not_eats = (meat_on_table - owner_present +
                             2*meat_in_cup) <= 0

            # ест из миски если мясо в миске
            outc_eats_from_table = (
                meat_on_table - owner_present - meat_in_cup) >= 1

            outc_eats_from_cup = (
                meat_in_cup + 0*meat_on_table + 0*owner_present) >= 1

            data.append({  "Мясо в миске": meat_in_cup,
                         "Мясо на столе": meat_on_table,
                         "Хозяин на кухне": owner_present,
                         "Ест из миски": int(outc_eats_from_cup),
                         "Ест со стола": int(outc_eats_from_table),
                        "Не ест": int(outc_not_eats)
  })

# переводим data в датафрейм и показываем
df = pd.DataFrame(data)
df.style.hide(axis='index')

In [ ]:
# Супербабочка

A = 0 # нейрон А
B = 0 # нейрон Б
V = 0 # нейрон В
G = 0 # нейрон Г

t1, t2, t3 = 0, 0, 0 # рецепторы тепла больше 36
s1, s2, s3 = 0, 0, 0 # рецепторы наличия солнца

data = []

# для неработающего рецептора
def rec_not_working(rec):
    return 0

# для глючащего рецептора
def rec_glitching(rec):
    return abs(rec-1)

for t in range (0, 2):
    for s in range (0, 2):

        t1,t2,t3 = t,t,t
        s1,s2,s3 = s,s,s

        # задаем какие рецепторы сбоят
        t1 = rec_not_working(t)
        t2 = rec_glitching(t)
        s1 = rec_not_working(s)
        s2 = rec_glitching(s)

        # Математические модели
        A = int((t1 + t2 + t3) >= 2)
        B = int((s1 + s2 + s3) >= 2)
        V = int((A - B) >= 1)
        G = int((B - A) >= 0)

        data.append({"Солнце есть 1 (не работает)": s1,
                     "Солнце есть 2 (глючит)": s2,
                     "Солнце есть 3": s3,
                     "Температура выше 36 1 (не работает)": t1,
                     "Температура выше 36 2 (глючит)": t2,
                     "Температура выше 36 3": t3,
                     "А": A,
                     "Б": B,
                     "В": V,
                     "Г": G,
                     "Крылья раскрыть": V,
                     "Крылья закрыть": G,
                         })

# переводим data в датафрейм и показываем
df = pd.DataFrame(data)
df.style.hide(axis='index')